@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,600,700|Tangerine);
@font-face {
  font-family: 'entypo-social';
  src: url('fonts/entypo-social.eot');
  src: url('fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
  url('fonts/entypo-social.woff') format('woff'),
  url('fonts/entypo-social.ttf') format('truetype'),
  url('fonts/entypo-social.svg#entypo-social') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #0b0f11;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
  color: #ff6600;
  font-weight: 300;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fourthbit-logo {
  margin: 0 auto 0 auto;
  padding: 200px 0 0 0;

  width: 600px;
  background-color: #0b0f11;
  text-align: center;
}

@media only screen and (max-device-height : 680px) {
  .fourthbit-logo {
    padding: 22px 0 0 0;
  }
}

.slogan {
  margin: 0 auto 0 auto;
  width: 600px;

  background-color: #0b0f11;
  text-align: center;
}

.slogan h1 {
  margin: 0 0 0 0;
  padding: 180px 0 100px 0;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.social {
  margin: 0 auto 0 auto;
  width: 600px;
  background-color: #0b0f11;

  font-family: 'entypo-social'; 
  text-align: center;
  font-size: 40px;
  word-spacing: 8px;
}

.social a {
  color: #fff;
  font-weight: normal;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.social a:hover {
  color: #ff6600;
}

.navigation {
  margin: 0 auto 0 auto;
  width: 600px;
  background-color: #0b0f11;
  text-align: center;
}

.navigation p {
  margin: 0 0 0 0;
  padding: 2px 0 10px 0;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.info {
  margin: 0 auto 0 auto;
  width: 600px;
  background-color: #0b0f11;
  text-align: center;
}

.info p {
  margin: 0 0 0 0;
  padding: 2px 0 10px 0;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ff6600;
}

.swirly {
  margin: 90px auto 120px auto;
  width: 600px;

  background-color: #0b0f11;
  text-align: center;
}

.circles { 
  position: relative;
  margin: 70px auto 0 auto;
  width: 600px;

  background-color: #0b0f11;
  text-align: center;
}

.circles .text-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 600px;

  text-align: center;
}

.circles h2 {
  font-family: 'Tangerine', cursive;
  font-weight: normal;
  font-size: 45px;

  padding: 16px 0 0 0;
}

.listing { 
  margin: 0 auto 0 auto;
  width: 600px;

  background-color: #fb0f11;
  text-align: center;
}

.listing ul {
  margin: 0 auto 0 auto;
  text-align: center;
  background-color: #0b0f11;
  list-style-type: none;
  padding: 0 0 0 0;
  width: 600px;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.listing ul a {
  font-weight: 700;
}

.footer {
  margin: 180px auto 0 auto;
  width: 600px;
}

.footer p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

