/* Used by index.html */

@import url(/styles/normalize.min.css);
@import url(/styles/layout.css);
@import url(/styles/skeleton.css);

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,500);
@font-face {
  font-family: 'entypo-social';
  src: url('fonts/entypo-social.eot');
  src: url('fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
  url('fonts/entypo-social.woff') format('woff'),
  url('fonts/entypo-social.ttf') format('truetype'),
  url('fonts/entypo-social.svg#entypo-social') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-device-width: 960px) { 
  html { 
    -webkit-text-size-adjust:none; 
  }
}

body {
  background: #0b0f11;
  color: #fff;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #fff;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
  color: #ff6600;
}

.replaced-svg:hover path {
  fill: #ff6600 !important;
}

.replaced-svg {
  height: 16px;
  width: 16px;
  display: inline;
}

.fourthbit-logo {
  display: block;
  text-align: center;
}

.fourthbit-logo img {
  margin: 200px auto 0 auto;
}

@media only screen and (max-device-width: 960px) { 
  .fourthbit-logo img {
    width: 300px;
  }
}

.slogan {
  display: block;
  margin: 0 auto 0 auto;
  text-align: center;
}

.navigation {
  position: relative;
  margin: 150px 0 150px 0;
}

.navigation h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.navigation h1:hover {
  color: #ff6600;
}

.navigation h1 > .circle {
  border-radius: 50%;
	width: 40px;
	height: 40px;
  background-color: #fff;
  margin: 22px auto 0 auto;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.navigation h1 > .circle:hover {
  background-color: #ff6600;
  ms-transform: scale(3.33); /* IE 9 */
  -webkit-transform: scale(3.33); /* Chrome, Safari, Opera */
  transform: scale(3.33);
}

.box {
  position: relative;
}

.box:hover {
  cursor: pointer; cursor: hand; 
}

.left-box {
  z-index:2;
}

.middle-box {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  z-index:1;
}

.right-box {
  z-index:0;
}

.listing { 
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 auto 0 auto;
  width: 100%;
  visibility: hidden;

  text-align: center;
}

.listing ul {
  margin: 0 auto 0 auto;
  text-align: center;
  list-style-type: none;
  padding: 0 0 0 0;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.listing ul li {
  min-height: 18px;
  margin-bottom: 10px;
}

.listing ul a {
  font-weight: 500;
}

.listing ul a:hover {
  font-weight: normal;
}

.social {
  margin: 0 auto 0 auto;

  font-family: 'entypo-social'; 
  text-align: center;
  font-size: 40px;
  word-spacing: 8px;
}

.social a {
  color: #fff;
  font-weight: normal;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.social a:hover {
  color: #ff6600;
}

.contact {
  margin: 0 auto 0 auto;
  background-color: #0b0f11;
  text-align: center;
}

.contact p {
  margin: 0 0 0 0;
  padding: 2px 0 10px 0;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.contact p a {
  font-weight: 500;
}

.contact p a:hover {
  font-weight: 500;
}

.info {
  margin: 0 auto 0 auto;
  background-color: #0b0f11;
  text-align: center;
}

.info p {
  margin: 0 0 0 0;
  padding: 2px 0 10px 0;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ff6600;
}

#begin-portfolio {
  height: 30px;
}

.swirly {
  margin: 0 auto 120px auto;

  background-color: #0b0f11;
  text-align: center;
}

.footer {
  margin: 180px auto 0 auto;
}

.footer p {

  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

